*{
    box-sizing: border-box;
    font-family:'UnifontMedium';
    background-image: url("src\\background.jpg");
}
.main {
    display:flex;
    flex-wrap:wrap;
}

.main > * {
    width:calc(100%/3);
}
#left{  
    padding-left:2%;
    font-size: 1.2vh;
}
#logo{
    width:80%;
    margin-top:40%;
    margin-bottom:5vh
}
#right-1row{
    float:right;
    
    display:flex;
    flex-wrap:wrap;
}
#img1{
    width:20vw; 
    height: 20vw;
}
#img2{
    position: fixed;
    margin-top:5vw;
    margin-left:-10vw;
    width:20vw; 
    height: 20vw;
    bottom: 0;
}
#img3{
    
    width: 18;
    height: 18vh;
    margin-left: -2.0833333333vw;

}
#img4{
    position: fixed;
    margin-top:5vw;
    margin-left:10vw;
    bottom:0;
    width:20vw; 
    height: 20vw;
}
#right-1row-2col{
    display: flex;
    flex-wrap: wrap;
}
#pos-thing{
    font-size: xx-small;
    border-style:dashed;
    border-width: 0.2vh;
    padding:3vh;   
}
nav{
    margin-top:1vw;
    border-style:double;
    font-size: 3vh;
    cursor: pointer;
}
#choices{
    display: grid;
    grid-template-columns:repeat(3,auto);
}
#choices>*{
    cursor: pointer;
    text-align: center;
    font-size:2vh;
    border-style: solid;
    border-width: 1.5px;
}
